body {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1,
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

form {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  color: #fff;
}

#resultContainer {
  margin-top: 2rem;
  border: 1px solid #273540;
  border-radius: 10px;
  background: linear-gradient(145deg, #4e6982, #5d7d9a);
  box-shadow: 20px 20px 20px #4a637a, -20px -20px 20px #6487a6;
  padding: 10px;
  margin: 0 100px;
}
