/* styles.css */

body {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

form {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

button {
    background-color: #3490dc;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

#resultContainer {
    margin-top: 2rem;
}

h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

h1 {
    color: #f0f0f0;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.tv {
    position: relative;
    width: 400px;
    height: 300px;
    background-color: #333;
    border-radius: 15px;
    overflow: hidden;
}

.screen {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: black;
}